@use 'src/styles/colors';
@use 'src/styles/fonts';

.collumn {
  background-color: colors.$lightBlue;
  min-width: 180px;
  flex: 1;
  border-radius: 6px;
  padding: 0 10px 8px;
  box-sizing: border-box;

  >header {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: fonts.$medium;
    font-weight: fonts.$bold;
    color: colors.$neutral;

    >h2 {
      flex: 1;
      font-size: fonts.$regular;
    }
  }

  >div.main {
    overflow-y: auto;

    .empty-state {
      background-color: colors.$gray;
      border-radius: 6px;
      padding: 24px 8px;
      text-align: center;
    }
  }
}
