@use 'src/styles/colors';
@use 'src/styles/fonts';

.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 40px;
  flex: 1;

  .collumn + .collumn {
    margin-left: 24px;
  }

  .card + .card {
    margin-top: 8px;
  }
}