@use 'src/styles/colors';
@use 'src/styles/fonts';

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;

  .collumn + .collumn {
    margin-left: 24px;
  }

  .card + .card {
    margin-top: 8px;
  }
}